#header {
  background-color: black;
  color: white;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}


.no-show {
  display: none;
  font-size: smaller;
  font-style: italic;
}
.wrap:hover > .no-show {
  display: block;
}
