#header {
  padding: 20px;
  margin-block-start: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}

img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}


.no-show {
  /* display: none; */
  font-size: smaller;
  font-style: italic;
}

.wrap:hover>.no-show {
  display: block;
}
